.img-container {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.category-wrap {
  width: 100%;
  max-width: 200px;
  flex: 1 0 200px;
  text-align: center;
  background-color: #bfeef2;
  padding: 40px 0;
  // position: sticky;
  // top: 150px;
}
.img-wrap {
  width: 100%;
  max-width: calc(100% - 200px);
  flex: calc(100% - 200px);
  padding: 0 0 0 20px;
}

.category-list {
  // display: flex;
  display: inline-block;
  text-align: left;
  .item {
    padding: 10px 0;
    .inner {
      font-size: 18px;
      color: #444;
      // color: #979797;
      cursor: pointer;
    }
  }
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 -10px -20px;
  .item {
    width: 100%;
    max-width: 25%;
    flex: 1 0 25%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .inner {
  }
  .img-bx {
    @include img-to-bg(100%);
  }
}
