.App {
  padding-top: 150px;
  min-width: 1024px;
}

.main-slider {
  position: relative;
  .img-bx {
    @include img-to-bg(100%);
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.7);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: all 300ms ease-out;
    .text {
      font-size: 20px;
      color: #fff;
    }
  }
  .swiper {
    &-slide {
      position: relative;
      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }
    &-container {
    }
    &-pagination {
      // position: relative;
      bottom: -30px;
    }
    &-button {
      &:after {
      }
      &-prev {
        color: #909090;
        left: 27%;
      }
      &-next {
        color: #909090;
        right: 27%;
      }
    }
  }
}
